# Default variables
aws_region = "us-east-1"

# Cluster variables.
vpc_id                      = "xxxxxxxxxxx"
eks_cluster_subnet_ids      = ["xxxxxxxxxxx", "xxxxxxxxxxx", "xxxxxxxxxxx", "xxxxxxxxxxx"]
eks_cluster_name            = "demo-eks-cluster"
eks_cluster_role_name       = "test-demo-cluster-role"
kubernetes_version          = "1.24"
esk_cluster_default_sg_name = "eks-cluster-default-sg"

# Worker nodes variables.
node_group_name_prefix    = "demo"
eks_worker_nodes_labels   = { "Env" : "dev" }
node_group_name           = "eks-worker-nodes"
eks_worker_node_role_name = "eks-worker-role"
ec2_ami_image_id          = "AL2_x86_64"
eks_worker_subnet_ids     = ["xxxxxxxxxxx", "xxxxxxxxxxx"]
